server {
    listen 80;
    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location /query {
        proxy_pass ${API_UPSTREAM}/query;
    }

    location /health {
        proxy_pass ${API_UPSTREAM}/health;
    }
}
